h1{
    text-align: center;
    font-family: 'Righteous', cursive;
    background: linear-gradient( to left,  violet,indigo,blue,green,green,blue,indigo,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200px;
    -webkit-text-stroke:.5px;
    -webkit-text-stroke-color: darkgrey;
}



.gamehead{
  display: flex;
  position: fixed;
  font-family: 'Righteous', cursive;
  font-size: 100px;
  background: linear-gradient( to left,  violet,indigo,blue,green,green,blue,indigo,violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke:.5px;
  -webkit-text-stroke-color: darkgrey;
}

body{
  background-image: url("bg");
}
.navbar p{
display: block;
text-align: left;
padding:10px;
background: linear-gradient(indigo,blue);
margin-right:1000px;

}
.navbar{
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 25px;

 
}
 p{
   color:white;
   text-align:center;
 }

 .intro{
   font-size: 50px;
   text-align: center;
 }

 footer {
   text-align: center;
   color: white;
 }

 footer a{
   
 }

 .fav{
   font-size: 30px;
   padding: 15px;
   border: 5px white;
   text-align: left;
 }
 
 .game-intro{
   font-size: 30px;
   color: white;
 }

.game-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.snake-container{
  background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
}
html, body {
  height: 100%;
  margin: 0;
}

canvas {
  border: 1px solid white;
}